/* Tasks */

.task {
  cursor: move;
}

.task.dragging {
  cursor: grabbing !important;
  opacity: .4;
}

.task.over {
  border-top: 5px solid rgba( 0, 0, 0, 0.125 );
}

.task.done,
.task:nth-child( n + 6 ) {
  opacity: .35;
}

.taskNum {
  background-color: #6c757d;
  box-shadow: 0 0 0 0.2rem #545b62;
  height: 30px;
  line-height: 30px;
  opacity: .5;
  text-align: center;
  width: 30px;
  -webkit-appearance: none;
}

  .task.done .taskNum {
    background-color: #6c757d;
    box-shadow: 0 0 0 0.2rem #6c757d;
  }

  a.badge-secondary.taskNum:focus,
  a.badge-secondary.taskNum:hover {
    box-shadow: 0 0 0 0.2rem #3c4247;
    opacity: .75;
  }

    .taskNum > * {
      display: block;
      font-weight: bolder;
    }

    .taskNum .checkmark {
      display: none;
    }

    .task.done .number,
    .taskNum:hover .number {
      display: none;
    }

    .task.done .checkmark,
    .taskNum:hover .checkmark {
      display: block;
    }

.task.done .taskDesc {
  text-decoration: line-through;
}

.close {
  float: unset;
}

#clearButtons .badge {
  font-weight: unset;
}

/* Add Task Form */

button.addTask {
  font-weight: bolder;
  opacity: .5;
}

button.addTask:hover {
  opacity: .75;
}


/* Footer */

a.refresh,
#faqButton a {
  line-height: 28px;
  width: 28px;
}
