button {
  appearance: none;
  -webkit-appearance: none;
  background-color: $gray-light;
  border: none;
  color: White;
  cursor: pointer;
  padding: $size-5 $size-10;

  &:hover {
    background-color: $gray-medium;
  }

  &.square-button {
    height: 2em;
    padding: 0;
    display: grid;
    place-content: center;
    width: 2em;
  }
}

.modal-button {
  background-color: $gray-lighter;
  color: revert;
  font-size: $size-12-5;
  opacity: .5;

  &:hover {
    color: White;
    opacity: revert;
  }
}

.modal button {
  &.close-modal:not(:hover) {
    background-color: transparent;
  }
  
  &.confirm {
    background-color: #cc0000;
    color: White;
    font-size: $size-12-5;
    opacity: revert;
    
    &:hover {
      background-color: #aa0000;
    }
  }
  
  &.cancel {
    background-color: $gray-lighter;
    color: revert;
    font-size: $size-12-5;
    opacity: .5;
    &:hover {
      opacity: revert;
    }
  }
}