// Colors
$gray-wash-lightest: rgba(119, 136, 153, .05);
$gray-lightest: #f1f2f4; // Based on rgba(119, 136, 153, .1)
$gray-lightest-rgba: rgba(119, 136, 153, .1);
$gray-lighter: #dde1e5;  // Based on rgba(119, 136, 153, .25)
$gray-light: LightSlateGray;
$gray-medium: SlateGray;
$gray-dark: DarkSlateGray;
$links: SlateBlue;
$links-hover: DarkSlateBlue;

$border: 2px solid LightSlateGray;
$border-width: 1px;

$font-system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;

// Sizes
$size-2-5: calc(var(--root-size) * .15625);		// 2.5px
$size-3-75: calc(var(--root-size) * .234375);	// 3.75px
$size-5: calc(var(--root-size) * .3125);			// 5px
$size-10: calc(var(--root-size) * .625);			// 10px
$size-12-5: calc(var(--root-size) * 0.78125);	// 12.5px
$size-15: calc(var(--root-size) * .9375); 		// 15px
$size-20: calc(var(--root-size) * 1.25);			// 20px
$size-25: calc(var(--root-size) * 1.5625);		// 25px
$size-30: calc(var(--root-size) * 1.875);			// 30px
$size-40: calc(var(--root-size) * 2.5);				// 40px
$size-50: calc(var(--root-size) * 3.125);			// 50px;
$size-60: calc(var(--root-size) * 3.75);			// 60px

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
