// Colors
$gray-wash-lightest: rgba(119, 136, 153, .05);
$gray-lightest: #f1f2f4; // Based on rgba(119, 136, 153, .1)
$gray-lightest-rgba: rgba(119, 136, 153, .1);
$gray-lighter: #dde1e5;  // Based on rgba(119, 136, 153, .25)
$gray-light: LightSlateGray;
$gray-medium: SlateGray;
$gray-dark: DarkSlateGray;
$links: SlateBlue;
$links-hover: DarkSlateBlue;

$border: 2px solid LightSlateGray;
$border-width: 1px;

$font-system-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$font-system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-system-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;;

// Sizes
$size-2-5: .15625rem; // 2.5px
$size-3-75: .234375rem; // 3.75px
$size-5: .3125rem; // 5px
$size-10: .625rem; // 10px
$size-12-5: 0.78125rem; // 12.5px
$size-15: .9375rem; // 15px
$size-20: 1.25rem; // 20px
$size-25: 1.5625rem; // 25px
$size-30: 1.875rem; // 30px
$size-40: 2.5rem; // 40px
$size-50: 3.125rem; // 50px;
$size-60: 3.75rem; // 60px

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
